.main_chat

  .main_header
    .main_header__leftbox
      .main_header__leftbox__current-group
        アメリカ
      .main_header__leftbox__member
        .main_header__leftbox__member-list
          Member
        .main_header__leftbox__member-list__member
          イチロースズキ
    = link_to "#", class:"main_header__edit-btn" do
      Edit

  .messages
    .message
      .message__upper-info
        .message__upper-info__talker
          aaa
        .message__upper-info__date
          yyyyyyyy
      .message__text
        アメリカ横断ウルトラクイズ

  .form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placefolder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn"}
      