.wrapper
  = render "side_bar"
  = render "main_chat"

-# <body>
-#   <div class="side_bar">
-#     <div class="chat_content">
-#     </div>
-#   </div>
-# </body>

-# .side_bar {
-#   height: calc(100vh - 300px);
-#   background-color: red;
-# }