* {
  box-sizing: border-box;
}

.chat-side {
  background-color: #2f3e51;
  width: 300px;
  height: 100vh;
  float: left;
  color: white;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      font-size: 16px;
      &__menu {
        display: flex;
        li {
          a {
            color: white;

          }
        }

      }
    }
  }

  .groups {
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    
    .group {
      color: white;
      height: 91px;
      margin-bottom: 40px;
      text-decoration: none;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
}
  
  
  


.main_chat {
  width: calc(100% - 300px);
  height: calc(100vh - 190px);
  background-color: #fafafa;
  float: right;
  .main_header {
    background-color: #ffffff;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__leftbox {
      height: 64px;
      width: 130px;
      margin-top: 35px;
      &__current-group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
        height: 30px;
        width: 130px;
      }
      &__member {
        width: 100vw;
        display: flex;
        font-size: 12px;
        color: #999999;
      }
      .main_header__leftbox__member-list {
        width: 70px;
      .main_header__leftbox__member-list__member {
          color: #999999;
          font-size: 12px;
        }
      }
    }
  }
  .main_header__edit-btn {
    height: 40px;
    width: 72px;
    font-size: 16px;
    color: #3baef0;
    border: solid 1px #38aef0;
    margin-top: 28px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    a{
    padding: 0px 20px;  
    }
    }
}


.messages {
  background-color:#fafafa;
  height: calc(100vh - 190px);
  padding: 40px 40px;

  .message {
    height: 110px;
    padding-bottom: 40px;
    &__upper-info {
      height: 30px;
      margin-bottom: 10px;
      display: flex;
      &__talker {
        height: 24px;
        width: 50px;
        color: #434a54;
        font-size: 16px;
        font-weight: bold;
      }  
      &__date {
        width: 100px;
        height: 24px;
        color: #999999;
        font-size: 12px;
        margin-left: 10px;
      } 
    }
    .message__text {
      height: 24px;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;
  form{
    display: flex;
    .input-box {
      display: flex;
      width: 100%;
      position: relative;

      &__text {
        height: 50px;
        width: 100%;
        color: #434a54;
        border-style: none;
        padding: 0 40px 0 10px;
      }
      &__image {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.3rem;

        &__file {
          display: none;
        }
      }
    }
    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }

  }

}




